
cocktail_scraper/repo_data.json
cocktail_scraper/test_urls.txt
cocktail_scraper/dependency_examples
cocktail_scraper/loaded_data.json
cocktail_scraper/__pycache__
cocktail_scraper/old data
cocktail_scraper/old_data
cocktail_scraper/__pycache__
cocktail_scraper/check.py
cocktail_scraper/__pycache__
cocktail_scraper/processed_data.json
cocktail_scraper//ontology_examples
cocktail_scraper/archive.py
cocktail_scraper/external
cocktail_scraper/generated_ontologies
cocktail_scraper/graph_gen/__pycache__
cocktail_scraper/ontology_data.json
app/.env
app/*.env
genkey.py
app/cocktail_scraper/__pycache__/translator.cpython-311.pyc
app/cocktail_scraper/graph_gen/__pycache__/odlc.cpython-311.pyc
